{%load static%}

<section id="about">
      <div class="container about_bg">
        <div class="row">
          <div class="col-lg-7 col-md-6">
            <div class="about_content">
              <h2>20 yıldır Birlikte Daha Güçlüyüz</h2>

              <p>Endüstriyel ekipmanlar ve iş makineleri yedek parça tedarik, ithalat ve ihracatında faaliyet gösteren firmamız, dünya çapında bilinen markaların tedarikçisi olarak müşterilerimize en yüksek kalitede hizmet vermeyi amaçlamaktadır. </p>

              <a href="{%url 'about' %}" class="btn know_btn">Daha Fazlası</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-lg-offset-1">
            <div class="about_banner">
              <img src="{%static 'images/man.png'%}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>