{% load static %}



<div class="top_nav">
        <div class="container">
          <ul class="list-inline info">
            <li>
              <a href="tel:+905432100118"><span class="fa fa-phone"></span> +905432100118 </a>
            </li>
            <li>
              <a href="mailto: info@balansltd.com"><span class="fa fa-envelope"></span> info@balansltd.com</a>
            </li>

          </ul>
          <ul class="list-inline social_icon">

            <li>
              <a href=""><span class="fa fa-linkedin"></span></a>
            </li>

          </ul>
        </div>
      </div>